#highscores {
    float: left;

}

#timer {
    float: right;
}

.hide {
    display: none;
}

.active {
    margin-top: 50px;
    text-align: center;
}

.btn {
    cursor: pointer;
}

.btn-purp {
    background-color: #563d7c;
    padding: 0 7px;
    cursor: pointer;
    color: white;
    display: inline-block;
    font-weight: 400;
    /* color: #212529; */
    text-align: center;
    vertical-align: middle;
    border-radius: .25rem;
    /* cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     background-color: transparent; 
     border: 1px solid transparent; 
     padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
  */
}

.btn-purp:hover {
    opacity: .8;
}